
### .gitignore

```gitignore
# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pdb

# Virtual Environment
venv/
ENV/
env/
.venv/
.ENV/
.env/

# SQLite database
*.db

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log